<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/rocket-libs/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rocket-libs" />
            <add key="ClearTextPassword" value="2b7fc79c2abee1534298756103500b6cbacd2854" />
        </github>
    </packageSourceCredentials>
</configuration>